<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            root
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/login

        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL5InnoDBDialect
        </property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="Usuario"/>
        <mapping class="br.com.photolab.bean.usuarios.UserBean"/>
        <mapping class="br.com.photolab.modelo.Contrato"/>
        <mapping class="br.com.photolab.modelo.Album"/>
        <mapping class="br.com.photolab.modelo.Ficha"/>
        <mapping class="br.com.photolab.modelo.Cliente"/>
        <mapping class="br.com.photolab.relatorio.Relatorio"/>
        <mapping class="br.com.photolab.relatorio.RelatorioDiario"/>
        <mapping class="br.com.photolab.bean.usuarios.admin.cadastro.CadastrarContratoBean"/>

    </session-factory>
</hibernate-configuration>